body{
	 text-align: center;
    background: url(back.png);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
      color: white;
      font-size: 30px;
}
.center {
	margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
.navbar {
 overflow: hidden;
 background-color: #000000;
}


.navbar a {
 font-family: 'Courier New', Courier, monospace;
font-style: oblique;
font-variant: small-caps;
 float: right;
 font-size: 20px;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.dropdown {
 float: right;
 overflow: hidden;
}

.dropdown .dropbtn {
  font-family: 'Courier New', Courier, monospace;
font-style: oblique;
font-variant: small-caps;
 font-size: 20px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
 background-color: red;
}

.dropdown-content {
 display: none;
 position: absolute;
 right: 0;
 background-color: #f9f9f9;
 min-width: 100px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 font-family: 'Courier New', Courier, monospace;
font-style: oblique;
font-variant: small-caps;
 float: left;
 color: black;
 padding: 12px 14px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: #ddd;
}


input[type="button"],input[type="reset"]{
background-color: #131313;
color:#ffffff;
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
font-style: oblique;
font-variant: small-caps;
border: 2px outset red;
}
.avatar {
 vertical-align: middle;
position: relative;
top: 50px;
 width: 200px;
 height: 200px;
 border-radius: 50%;
}
.dropdown:hover .dropdown-content {
 display: block;

}
