<!DOCTYPE html>
<!-- -->
<html>
    <head>
    <title>CREATE</title>
    <link rel="icon" type="image/png" href="/views/PNG/AS.png">
    <meta charset="utf-8"/>
      <link rel="stylesheet" href="/views/create.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>

    <body>
      <div class="navbar">
            <div class="dropdown">
              <button class="dropbtn">Username
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a onclick= "accountClicked()">My Account</a>
                  <a id = "logoutButton" onclick="logoutClicked()">Log Out</a>
              </div>
            </div>
            <a href="/views/create.html">Create</a>
            <a href="./join.html">Join</a>
      </div>
<!--   HTML starts here        -->
        <header>
        <h1>SETTINGS</h1>
        </header>
    <br>

        <form action="#">
            <section id="playersettings" class="playerSettings">
            <fieldset>
            <legend>Player</legend>
                <div id = "Player">
                    <label for="playernum">Players:</label>
                    <input id="playernum" type="number" name="playernum" min = "1" max = "4" step = "1" value = "1" title = "Max 4 Players" onchange = 'onChangePlayer()'><br>

                    <label for = "deal"> Dealing Options: </label>
                    <select id = "deal" name = "deal" onchange="onChangeDeal()">
                        <option selected = "selected" value = "DealAll" title = "All Cards In The Deck Are Dealt Until Empty"> Deal All </option>
                        <option value = "StartingHand" title = "Set A Number Of Cards For Each Player To Start With"> Starting Hand </option>
                    </select>
                </div>
            </fieldset>
            </section>
            <br>
            <section id ="gamesettings">
            <fieldset>
            <legend>Game</legend>
                <div id = "Game">
                    <label for = "name"> Game Name:</label>
                    <input id = "name" type = "text" name = "name" maxlength="20" value = "Virtual Cards" title = "What Players Will See In The Join - Limit 20 Characters" onchange = "onChangeText()">
                    <!--<input id = "updateButton" type="button" value="Update Name" title= "Update And Refresh Current Game Name">-->
                    <br>
                    <div id = "pswDiv">
                        <label for = "Private"> Private </label>
                        <input type = "checkbox" id = "Private" onchange = "onChangePrivate()">
                    </div>
                    <br>
                    <fieldset>
                      <legend>Deck</legend>
                    <label for = "Joker">Jokers </label>
                    <input type = "checkbox" id = "Joker" title= "Create Deck With 2 Jokers"><br>
                    <div id = 'infiniteDiv'>
                    <label for = "Infinite">Infinite Mode: </label>
                    <input type = "checkbox" id = "Infinite" title= "All Discards Are Constantly Returned To The Main Deck" onchange="onChangeInfinite()"><br>
                    </div>
                    </fieldset>
                </div>
            </fieldset>
        </section>
        <br>
        <section id="submit" >
            <input type="reset" name="reset" value="Reset">
            <input id = "GameButton" type="button" value="Create Game" title= "Start New Game - This Will Clear Any Previous Game History" onClick="SetGame()">
            <label id = "openGame" for = "GameButton" onclick='return false;'> </label>
            <!--<input id = "end" type="button" value="End Game" title= "End the Current Running Game">-->
        </section>
        </form>

      <script src="../js/create.js"> </script>

    </body>
</html>
