<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>JOIN</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/views/create.css">
    <link rel="icon" type="image/png" href="/views/PNG/AS.png">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>
    <div class="navbar">
          <div class="dropdown" style="float:right;" >
            <button class="dropbtn">Username
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                <a onclick = "accountClicked()">My Account</a>
                <br>
                <a id = "logoutButton" onclick="logoutClicked()">Log Out</a>
            </div>
          </div>
          <a onclick="getCreate()">Create</a>
          <a onclick="joinClicked()">Join</a>
    </div>
<div class="boxJoin">
    <h1>Join a Game</h1>
        <h2>JOIN LIST</h2>
        <ul id='messages'></ul>
</div>

	<script src="js/join.js"></script>

  </body>
</html>
