<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <style type="text/css">
body{
    background: url(back.jpg);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
      color: white;
      font-size: 30px;
}
  a {
        color: red;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>
<h1>Login</h1>
<form>
  User name:<br>
  <input id="username" type="text" name="username"><br>
  User password:<br>
  <input id="psw" type="password" name="psw">
</form>
<br>
<div>
  Not already a user?
<a href="./signup.html">signup here</a>
</div>

	<script src="js/login.js"></script>

  </body>
</html>
