body{
	 text-align: center;
    background: url(back.png);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-variant: small-caps;
      color: white;
      font-size: 30px;
}
.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
  a {
        color: red;
      }
